#movies {
    position: relative;
    width: 100%
}

#movies .single-movie-block {
    position: relative;
    margin-bottom: 75px
}

#movies .single-movie-block .single-movie-poster {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 150%
}

.card {
    position: relative;
    width: 100%;
    height: 100%; /* Ganti dengan tinggi yang diinginkan */
    overflow: hidden; /* Mengatasi gambar yang lebih besar dari container */
    transition: transform 0.3s
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Gambar akan di-crop agar sesuai dengan tinggi dan lebar container */
    transition: transform 0.3s
}

.card .card-title {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    color: white;
    padding: 5px 10px;
    font-size: 18px;
}

.card:hover, .card:hover img  {
    transform: scale(1.05);
}

.centered-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-bottom: 30px;
}